.topHeaderContainer {
  background-color: #f8f9fa;
  padding: 0.4rem 0.2rem;
  display: flex;
  /* justify-content: space-around; */
}

.middleArea {
  width: auto;
  display: flex;
  justify-content: start;
}
.leftArea {
  display: flex;
  padding-left: 4rem;
  width: auto;
}
.rightArea {
  display: flex;
  width: auto;
}

@media (max-width: 800px) {
  .topHeaderContainer {
    display: none;
  }
}

