.topHeaderContainer {
    background-color: #F8F9FA ;
    padding: .4rem .2rem;
    display: flex;
}

.leftArea {
    background-color: aqua;
}
.MIddleArea {
    background-color: rgb(255, 0, 0);
}
.rigthArea {
    ;
    background-color: rgb(255, 0, 195);
}