.middleHeaderContainer {
  height: 10rem;
  display: flex;
}

.middleArea-middleHeader {
  width: auto;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftArea-middleHeader {
  display: flex;
  padding-left: 4rem;
  width: auto;
  align-items: center;
}
.rightArea-middleHeader {
  display: flex;
  width: auto;
  align-items: center;
}

.logoSic {
  height: 2.3em;
}

.logoProdepa {
  height: 6em;
}

@media (max-width: 800px) {
  .logoSic {
    display: none;
  }
  .rightArea-middleHeader {
    justify-content: end;
  }
  .middleHeaderContainer {
    justify-content: space-around;
  }
}
