.middleHeaderContainer {
    height: 6rem;
    display: flex;
}

.middleArea-middleHeader {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftArea-middleHeader {
    display: flex;
    padding-left: 4rem;
    width: 20%;
  }
  .rightArea-middleHeader {
    display: flex;
    width: 33.3%;
  }