.bottomHeaderContainer {
  background-color: #0073c8;
  height: 3rem;
  display: flex;
}
.middleArea-bottomHeader {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftArea-bottomHeader {
  display: flex;
  padding-left: 4rem;
  width: 40%;
  align-items: center;
}
.rightArea-bottomHeader {
  display: flex;
  width: 33.3%;
  align-items: center;
}

@media(max-width: 800px){
  .bottomHeaderContainer {
    display: none;
  }
}
